---
import "./Features.scss";
import { Link } from "../../components/Link/Link";
import Features_light_0 from "./images/Features_light_0.tsx";
import Features_light_1 from "./images/Features_light_1.tsx";
import Features_light_2 from "./images/Features_light_2.tsx";
import Features_dark_0 from "./images/Features_dark_0.tsx";
import Features_dark_1 from "./images/Features_dark_1.tsx";
import Features_dark_2 from "./images/Features_dark_2.tsx";
---

<section class="features">
  <h2>Das war's aber noch nicht - da ist noch mehr!</h2>
  <p>
    Die Features ermöglichen einen aktiven Austausch und erleichtern die
    Zusammenarbeit.
  </p>
  <div class="features_list">
    <div class="features__feature">
      <div class="features__placeholder"></div>
      <Features_light_0 />
      <Features_dark_0 />
      <div class="features__text">
        <h3>Abstimmungssitzung</h3>
        <p>Das Team kann während der Abstimmung auf beliebige Notes voten.</p>
      </div>
    </div>
    <div class="features__feature features__feature--reverse">
      <div class="features__text">
        <h3>Präsentationsmodus</h3>
        <p>Die Moderation kann gewisse Stacks oder Notes hervorheben.</p>
      </div>
      <Features_light_1 />
      <Features_dark_1 />
      <div class="features__placeholder"></div>
    </div>
    <div class="features__feature">
      <div class="features__placeholder"></div>
      <Features_light_2 />
      <Features_dark_2 />
      <div class="features__text">
        <h3>Sitzungsdaten speichern</h3>
        <p>
          Alle Teilnehmenden können das Board exportieren und somit die Sitzung
          speichern.
        </p>
      </div>
    </div>
    <Link ariaLabel="Jetzt loslegen" className="features__cta-button">
      Jetzt loslegen
    </Link>
    <img
      class="features__bg-line"
      src="/assets/features/features_line-bg_light.svg"
      alt=""
    />
  </div>
</section>
