.features {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;

  h2 {
    margin: 44px 0 24px 0;
  }

  p {
    margin: 0;
  }

  h2,
  p {
    width: 80%;
    text-align: center;
  }
}

.features_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 108px;
  margin-top: 64px;
}

.features__feature {
  display: flex;
  flex-direction: row;
  gap: 56px;

  &--reverse {
    h3,
    p {
      margin-right: 0;
      align-self: end;
    }
  }
}

.features__bg-line {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: calc(100% - 256px);
}

.features__placeholder {
  width: 25vw;
}

.features__text {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;


  > h3,
  p {
    width: 320px;
  }

  > h3 {
    margin-bottom: 20px;
  }

  > p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
}

@media (prefers-color-scheme: dark) {
  .features__bg-line {
    content: url("/assets/features/features_line-bg_dark.svg");
  }
}

@media screen and (max-width: 1140px) {
  .features {
    margin-bottom: 64px;
  }

  .features__placeholder {
    width: 100px;
  }

  .features_list {
    gap: 96px;
  }


  .features__feature {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &--reverse {
      flex-direction: column-reverse;
    }

    .features__text {
      width: 80%;
      text-align: center;
      align-items: center;

      h3 {
        margin-top: 0;
        margin-bottom: 16px;
      }

      p {
        text-align: center;
      }

    }
  }

  .features__bg-line {
    content: url("/assets/features/features_line-bg_light--mobile.svg");
    height: 100%;
  }

  .features__placeholder {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .features__bg-line {
      content: url("/assets/features/features_line-bg_dark--mobile.svg");
    }
  }
}
