.features {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;

  h2 {
    margin: 24px 0;
  }

  p {
    margin: 0;
  }

  h2,
  p {
    width: 80%;
    text-align: center;
  }
}

.features_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.features__feature {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 96px 0 0 0;

  &:first-of-type {
    margin-top: 20px;
  }

  &--reverse {
    h3,
    p {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 96px;
  }
}

.features__bg-line {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: calc(100% - 256px);
}

.features__placeholder {
  width: 25vw;
}

.features__text {
  text-align: left;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;


  > h3,
  p {
    width: 256px;
  }
}

p {
  font-size: 20px;
  line-height: 28px;
}

@media (prefers-color-scheme: dark) {
  .features__bg-line {
    content: url("/assets/features/features_line-bg_dark.svg");
  }
}

@media screen and (max-width: 1140px) {
  .features__placeholder {
    width: 100px;
  }
}

@media screen and (max-width: 965px) {
  .features__feature {
    flex-direction: column;
    align-items: center;

    &--reverse {
      flex-direction: column-reverse;
    }

    .features__text {
      width: 80%;
      text-align: center;
      align-items: center;

      h3 {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    &:last-of-type {
      margin-bottom: 96px;
    }
  }

  .features__bg-line {
    content: url("/assets/features/features_line-bg_light--mobile.svg");
    height: 100%;
  }

  .features__placeholder {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .features__bg-line {
      content: url("/assets/features/features_line-bg_dark--mobile.svg");
    }
  }
}
