---
import LegalLayout from "../../layouts/LegalLayout.astro";
import "./legal.scss";
---

<LegalLayout>
  <h1>Cookie policy of scrumlr.io</h1>
  <h2>
    This document explains the technologies used by scrumlr.io to achieve its
    purposes, including accessing and storing information on the user's device.
  </h2>
  <p>
    For simplicity, all such technologies are defined as "Trackers" within this
    document – unless there is a reason to differentiate. For example, while
    Cookies can be used on both web and mobile browsers, it would be inaccurate
    to talk about Cookies in the context of mobile apps as they are a
    browser-based Tracker. For this reason, within this document, the term
    Cookies is only used where it is specifically meant to indicate that
    particular type of Tracker.<br />
     Some of the purposes for which Trackers are used may also require the
    User's consent. Whenever consent is given, it can be freely withdrawn at any
    time following the instructions provided in this document. Scrumlr.io only
    uses Trackers managed directly by the Owner (so-called "first-party"
    Trackers). The validity and expiration periods of first-party Cookies and
    other similar Trackers may vary depending on the lifetime set by the Owner.
    Some of them expire upon termination of the User’s browsing session.
  </p>
  <h3>
    Activities strictly necessary for the operation of scrumlr.io and delivery
    of the Service
  </h3>
  <p>
    Scrumlr.io uses so-called “technical” Cookies and other similar Trackers to
    carry out activities that are strictly necessary for the operation or
    delivery of the Service.
  </p>
  <h3>How to manage preferences and provide or withdraw consent</h3>
  <p>
    There are various ways to manage Tracker related preferences and to provide
    and withdraw consent, where relevant: Users can manage preferences related
    to Trackers from directly within their own device settings, for example, by
    preventing the use or storage of Trackers. Additionally, whenever the use of
    Trackers is based on consent, Users can provide or withdraw such consent by
    setting their preferences within the cookie notice or by updating such
    preferences accordingly via the relevant consent-preferences widget, if
    available.<br />
     It is also possible, via relevant browser or device features, to delete
    previously stored Trackers, including those used to remember the User’s
    initial consent. Other Trackers in the browser’s local memory may be cleared
    by deleting the browsing history.
  </p>
  <h3>Locating Tracker Settings</h3>
  <p>
    Users can, for example, find information about how to manage Cookies in the
    most commonly used browsers at the following addresses:
  </p>

  <ul>
    <li>
      <a
        href="https://support.google.com/chrome/answer/95647?hl=en&co=GENIE.Platform%3DDesktop"
        target="_blank"
        aria-label="Information on how to manage Cookies in Google Chrome (opens in a new tab)"
      >
        Google Chrome
      </a>
    </li>
    <li>
      <a
        href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox"
        target="_blank"
        aria-label="Information on how to manage Cookies in Mozilla Firefox (opens in a new tab)"
      >
        Mozilla Firefox
      </a>
    </li>
    <li>
      <a
        href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
        target="_blank"
        aria-label="Information on how to manage Cookies in Apple Safari (opens in a new tab)"
      >
        Apple Safari
      </a>
    </li>
    <li>
      <a
        href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies"
        target="_blank"
        aria-label="Information on how to manage Cookies in Microsoft Internet Explorer (opens in a new tab)"
      >
        Microsoft Internet Explorer
      </a>
    </li>
    <li>
      <a
        href="https://support.microsoft.com/en-us/microsoft-edge/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09"
        target="_blank"
        aria-label="Information on how to manage Cookies in Microsoft Edge (opens in a new tab)"
      >
        Microsoft Edge
      </a>
    </li>
    <li>
      <a
        href="https://support.brave.com/hc/en-us/articles/360050634931-How-Do-I-Manage-Cookies-In-Brave-"
        target="_blank"
        aria-label="Information on how to manage Cookies in Brave (opens in a new tab)"
      >
        Brave
      </a>
    </li>
    <li>
      <a
        href="https://blogs.opera.com/news/2015/08/how-to-manage-cookies-in-opera/"
        target="_blank"
        aria-label="Information on how to manage Cookies in Opera (opens in a new tab)"
      >
        Opera
      </a>
    </li>
  </ul>
  <p>
    Users may also manage certain categories of Trackers used on mobile apps by
    opting out through relevant device settings, such as the device advertising
    settings for mobile devices, or tracking settings in general (Users may open
    the device settings, view and look for the relevant setting). Owner and Data
    Controller inovex GmbH Given the objective complexity surrounding tracking
    technologies, Users are encouraged to contact the Owner should they wish to
    receive any further information on the use of such technologies by
    scrumlr.io.
  </p>
</LegalLayout>
