---
import "./Mobile.scss";
import getTranslatedContent from "@utils/directus";

const { lang } = Astro.params;
const content = await getTranslatedContent("Mobile_Section", lang!);
---

<section class="mobile__section">
  <div class="mobile__image">
    <object
      class="mobile__stan"
      data="/assets/mobile/mobile_light.svg"
      type="image/svg+xml"
    />
    <object
      class="mobile__background"
      data="/assets/mobile/mobile_background_light.svg"
      type="image/svg+xml"
    />
  </div>
  <div class="mobile__text">
    <h2>{content.header}</h2>
    <p>{content.text}</p>
    <object class="mobile__dots" data="/assets/mobile/mobile_dots.svg" type="image/svg+xml" />
  </div>
</section>
