section {
  box-sizing: border-box;
  background-image: url('../../../assets/backgrounds/bg_heights_light.svg');
  background-position: 60%;
  background-repeat: no-repeat;
  height: 1160px;
  padding-top: 84px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h1 {
  width: 309px;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.reach-new-heights > h1 > span:nth-of-type(1) {
  background: linear-gradient(270deg, rgba(96, 150, 255, 0.50) 0%, #0057FF 55.76%, #0044C6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reach-new-heights > h1 > span:nth-of-type(2) {
  background: linear-gradient(270deg, rgba(255, 128, 180, 0.50) 8.60%, #FF0069 64.62%, #DA005A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reach-new-heights__information {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.reach-new-heights__information-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .information-item__icon--dark {
    display: none;
  }

  > h2 {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  > p {
    width: 254px;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
}
[theme='dark'] .reach-new-heights__information-item {
  > .information-item__icon--light {
    display: none;
  }
  > .information-item__icon--dark {
    display: block;
  }
}


section > p {
  width: 350px;
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.reach-new-heights__image {
  height: 354px;
}

.reach-new-heights__image--dark {
  display: none;
}

[theme='dark'] {
  section {
    background-image: url('../../../assets/backgrounds/bg_heights_dark.svg');
  }

  .reach-new-heights__image--light {
    display: none;
  }
  .reach-new-heights__image--dark {
    display: block;
  }
}

@media (min-width: 768px) {
  section {
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .reach-new-heights > h1 {
    width: 679px;
    font-size: 62px;
    line-height: 70px;
  }
  .reach-new-heights > p {
    font-size: 24px;
    font-weight: 500;
  }
}
