---
import type {GetStaticPaths} from "astro";
import LegalLayout from "../../../layouts/LegalLayout.astro";
import "./legal.scss";

export const getStaticPaths = (() => {
    return [
        {params: {lang: "en"}},
        {params: {lang: "de"}},
    ];
}) satisfies GetStaticPaths;
---

<LegalLayout>
  <h1>Privacy Policy of scrumlr.io</h1>
  <h2>
    This Privacy Policy covers the information we collect about you when you use
    our service scrumlr.io.
  </h2>
  <h3>What information we collect about you</h3>
  <p>
    We collect information about you when you provide it to us and when you use
    our service.
  </p>

  <h3>Information you provide to us</h3>
  <p>
    We collect information about you when you input it into the service or
    otherwise provide it directly to us (e.g. by e-mail communication).
  </p>

  <h3>Account and Profile Information</h3>
  <p>
    We collect information about you when you register for an account, create or
    modify your profile or interact with our service. For example, you provide
    your contact information and, when you register for the service by a
    third-party or you use your real name as your username. You also have the
    option of adding a display name, profile photo, and other details to your
    profile information to be displayed in our service. We keep track of your
    preferences when you select settings within the service.
  </p>

  <h3>Content you provide through our products</h3>
  <p>
    We collect and store content that you post, send, receive and share. This
    content includes any information about you that you may choose to include.
    Examples of content we collect and store include: any documents that you
    post or display on your user profile, and any feedback you provide to us.
  </p>

  <h3>Third Party Providers</h3>
  <p>
    We may receive information about you from third party providers of business
    information and publicly available sources (like social media platforms),
    including physical mail addresses, email addresses, intent data (or user
    behavior data), IP addresses and social media profiles, for the purposes of
    account creation.
  </p>

  <h3>How we use information we collect</h3>
  <p>
    Below are the specific purposes for which we use the information we collect
    about you.
  </p>

  <h3>To provide the Services and personalize your experience</h3>
  <p>
    We use information about you to provide the service to you, including to
    process transactions with you, authenticate you when you log in, provide
    customer support, and operate, maintain, and improve the Services.
  </p>

  <h3>For research and development</h3>
  <p>
    We are always looking for ways to make our Services smarter, faster, secure,
    integrated, and useful. We use information about how people use our service
    to troubleshoot, to identify trends, usage, activity patterns, and areas for
    integration and to improve our service and to develop new products, features
    and technologies that benefit our users and the public. For example we
    collect information how often board templates are selected in order to
    improve the selection of templates.
  </p>

  <h3>Customer support</h3>
  <p>
    We use your information to resolve technical issues you encounter, to
    respond to your requests for assistance, to analyze crash information, and
    to repair and improve the service.
  </p>

  <h3>For safety and security</h3>
  <p>
    We use information about you to verify accounts and activity, to detect,
    prevent, and respond to potential or actual security incidents and to
    monitor and protect against other malicious, deceptive, fraudulent or
    illegal activity, including violations of Service policies.
  </p>

  <h3>With your consent</h3>
  <p>
    We use information about you where you have given us consent to do so for a
    specific purpose not listed above. For example, we may publish testimonials
    or featured customer stories to promote the service, with your permission.
  </p>

  <h3>Legal bases for processing (for EEA users)</h3>
  <p>
    If you are an individual in the European Economic Area (EEA), we collect and
    process information about you only where we have legal bases for doing so
    under applicable EU laws. The legal bases depend on the Services you use and
    how you use them. This means we collect and use your information only where:
  </p>

  <ul>
    <li>
      We need it to provide you the service, including to operate the service,
      provide customer support and personalized features and to protect the
      safety and security of the service;
    </li>
    <li>
      It satisfies a legitimate interest (which is not overridden by your data
      protection interests), such as for research and development, to market and
      promote the service and to protect our legal rights and interests;
    </li>
    <li>You give us consent to do so for a specific purpose; or</li>
    <li>We need to process your data to comply with a legal obligation.</li>
  </ul>
  <p>
    If you have consented to our use of information about you for a specific
    purpose, you have the right to change your mind at any time, but this will
    not affect any processing that has already taken place.
  </p>

  <h2>How we store and secure information we collect</h2>
  <h3>Information storage and security</h3>
  <p>
    We use industry standard technical and organizational measures to secure the
    information we store. We host the service in germany in a data center
    located in Frankfurt.<br />
     While we implement safeguards designed to protect your information, no
    security system is impenetrable and due to the inherent nature of the
    Internet, we cannot guarantee that information, during transmission through
    the Internet or while stored on our systems or otherwise in our care, is
    absolutely safe from intrusion by others.
  </p>

  <h3>How long we keep information</h3>
  <p>
    How long we keep information we collect about you depends on the type of
    information, as described in further detail below. After such time, we will
    either delete or de-identify your information or, if this is not possible
    (for example, because the information has been stored in backup archives),
    then we will securely store your information and isolate it from any further
    use until deletion is possible.
  </p>

  <h3>Account information</h3>
  <p>
    We retain your account information for as long as your account is active and
    a reasonable period thereafter in case you decide to re-activate the
    service. We also retain some of your information as necessary to comply with
    our legal obligations, to resolve disputes, to enforce our agreements, to
    support business operations, and to continue to develop and improve our
    service. Where we retain information for service improvement and
    development, we take steps to eliminate information that directly identifies
    you, and we only use the information to uncover collective insights about
    the use of our Services, not to specifically analyze personal
    characteristics about you.
  </p>

  <h3>Information you share on the Services</h3>
  <p>
    If your account is deactivated or disabled, some of your information and the
    content you have provided will remain in order to allow your team members or
    other users to make full use of the service. For example, we continue to
    display messages you sent to the users that received them and continue to
    display content you provided, but when requested details that can identify
    you will be removed.
  </p>

  <h3>How to access and control your information</h3>
  <p>
    If you like to access and control your information please contact us
    directly by our contact <a href="mailto:info@scrumlr.io">info@scrumlr.io</a
    >.
  </p>

  <h2>Other important privacy information</h2>

  <h3>Sharing your personal information</h3>
  <p>
    We don't sell your personal information. We do not share your information
    with others.
  </p>

  <h3>Processing your information</h3>
  <p>
    This policy describes the categories of personal information we may collect,
    the sources of that information, and our deletion and retention policies.
    We’ve also included information about how we may process your information -
    such as to protect against illegal activities, and for the development of
    new products, features, and technologies. If you have questions about the
    categories of information we may collect about you, please be sure to visit
    the section of this policy called, “What information we collect about you.”
    For more details about our processing activities, please be sure to visit
    the section called, “How we use information we collect.”
  </p>

  <p>
    If you have any questions or would like to exercise your rights, you can
    reach out to us at <a href="mailto:info@scrumlr.io">info@scrumlr.io</a>.
  </p>

  <h3>Our policy towards children</h3>
  <p>
    The service is not directed to individuals under 18. We do not knowingly
    collect personal information from children under 18. If we become aware that
    a child under 18 has provided us with personal information, we will take
    steps to delete such information. If you become aware that a child has
    provided us with personal information, please contact us at <a
      href="mailto:info@scrumlr.io">info@scrumlr.io</a
    >.
  </p>

  <h3>Changes to our Privacy Policy</h3>
  <p>
    We may change this privacy policy from time to time. If the changes are
    significant we will display a notification once you log in another time.<br
    />
     If you disagree with any changes to this privacy policy, you will need to
    stop using the Services and deactivate your account(s), as outlined above.
  </p>
</LegalLayout>
