---
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
import Choices from '../components/Choices';
import { Uniqueness } from '../components/Uniqueness';
import { Mobile } from '../components/Mobile';
import Layout from '../layouts/Layout.astro';
---

<Layout title="scrumlr">
	<main>
    <ReachNewHeights />
		<Choices client:visible />
		<Uniqueness client:idle />
		<Mobile client:idle />
  </main>
</Layout>

<style>
	main {
		overflow: hidden;
    width: 100vw;
    min-width: 320px;
	}
</style>
