---
import Choices from '../components/Choices';
import Layout from '../layouts/Layout.astro';
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
import TargetUser from '../views/TargetUser/TargetUser.astro';
---

<Layout title="scrumlr">
	<main>
        <ReachNewHeights />
		<Choices client:visible />
        <TargetUser />
  </main>
</Layout>

<style>
	main {
    min-width: 320px;
    width: 100vw;
	}
</style>
