---
import Choices from '../components/Choices';
import Layout from '../layouts/Layout.astro';
---

<Layout title="scrumlr">
	<main>
		<Choices client:visible />
  </main>
</Layout>

<style>
	main {
		width: 100vw;
	}
</style>
