---
import Choices from '../components/Choices';
import Layout from '../layouts/Layout.astro';
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
import { TargetUser } from '../views/TargetUser/TargetUser';
---

<Layout title="scrumlr">
	<main>
    <ReachNewHeights />
		<Choices client:visible />
    <TargetUser />
  </main>
</Layout>

<style>
	main {
    width: 100vw;
	}
</style>
