---
import { Uniqueness } from '../components/Uniqueness';
import Layout from '../layouts/Layout.astro';
---

<Layout title="scrumlr">
	<main>
		<Uniqueness client:idle />
  </main>
</Layout>

<style>
	main {
		padding: 1.5rem;
		overflow: hidden;
	}
</style>
