---
import Layout from '../layouts/Layout.astro';
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
---

<Layout title="scrumlr">
	<main>
      <ReachNewHeights />
  </main>
</Layout>

<style>
	main {
    max-width: 100vw;
	}
</style>
