---
import Layout from '../layouts/Layout.astro';
import ReachNewHeights from "../views/ReachNewHeights/ReachNewHeights";
---

<Layout title="scrumlr">
	<main>
      <ReachNewHeights />
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
