---
import { Uniqueness } from '../components/Uniqueness';
import Choices from '../components/Choices';
import Layout from '../layouts/Layout.astro';
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
---

<Layout title="scrumlr">
	<main>
    	<ReachNewHeights />
		<Choices client:visible />
		<Uniqueness client:idle />
  </main>
</Layout>

<style>
	main {
		padding: 1.5rem;
		overflow: hidden;
    	width: 100vw;
	}
</style>
