---
import Choices from '../components/Choices';
import Layout from '../layouts/Layout.astro';
import {ReachNewHeights} from "../views/ReachNewHeights/ReachNewHeights";
import {AboutUs} from "../views/AboutUs/AboutUs";
---

<Layout title="scrumlr">
	<main>
		<Choices client:visible />
    	<ReachNewHeights />
		<AboutUs />
  </main>
</Layout>

<style>
	main {
    width: 100vw;
	}
</style>
