---
import { getLangFromUrl } from "src/i18n/utils";
import VideoPlayer from "../../components/VideoPlayer";
import getTranslatedContent from "../../utils/directus";
import "./Choices.scss";

const lang = getLangFromUrl(Astro.url);
const content = await getTranslatedContent("Choices_Section", lang);
---

<section id="choices" class="choices">
  <h2>{content.header}</h2>
  <p>{content.text}</p>
  <VideoPlayer client:idle textContent={content} />
</section>
