---
import VideoPlayer from "../../components/VideoPlayer";
import getTranslatedContent from "../../utils/directus";
import "./Choices.scss";

const { lang } = Astro.params;
const content = await getTranslatedContent("Choices_Section", lang!);
---

<section class="choices">
  <h2>{content.header}</h2>
  <p>{content.text}</p>
  <VideoPlayer client:idle textContent={content} />
</section>
