.choices {
  padding: 0;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;

  h2 {
    margin: 24px 32px;
  }
  p {
    margin: 0;
  }

  h2,
  p {
    text-wrap: balance;
  }
}

.choices__content {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 64px 0 164px 0;
  gap: 40px;

  .choices__image-wrapper {
    max-width: min(80%, 1320px);
  }

  .choices__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: var(--shadow);
  }

  .choices__video {
    max-width: 80%;
    display: none;
  }
}

.choices__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.choices__video-wrapper {
  display: none;
  position: relative;
  width: 100%;
  height: fit-content;
  filter: var(--shadow);
}

.choices__video-button {
  background: var(--lightmode-blue);
  color: var(--white);
  border: none;
  border-radius: 64px 0 0 64px;
  position: absolute;
  top: calc(50% - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 6px 24px 16px;

  &--left {
    left: 0;
    transform: rotate(180deg);
  }

  &--right {
    right: 0;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.choices__video-position-buttons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin-top: 32px;

  li {
    padding: 4px 8px;
    height: fit-content;
    display: flex;
  }

  button {
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--lightmode-pink);
    opacity: 0.5;
    transition: all 0.2s cubic-bezier(0.7, 0.53, 0.17, 0.99);
    cursor: pointer;
    padding: 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.choices__video-position-button--active {
  transform: scale(1.2);
  opacity: 1 !important;
}

.choices__cloud {
  position: absolute;
  width: 100%;
  object-fit: contain;
  z-index: -1;

  &--left {
    top: 10%;
    right: 820px;
    height: 66%;
  }

  &--right {
    bottom: 5%;
    left: 660px;
    height: 95%;
  }
}

@media (prefers-color-scheme: dark) {
  .choices__video-button {
    background: var(--darkmode-blue);
  }

  .choices__video-position-buttons {
    button {
      background: var(--darkmode-pink);
    }
  }

  .choices__cloud {
    &--left {
      content: url("/assets/backgrounds/bg_cloud_dark--left.svg");
    }

    &--right {
      content: url("/assets/backgrounds/bg_cloud_dark--right.svg");
    }
  }
}

@media screen and (max-width: 1500px) {
  .choices__cloud {
    &--left {
      right: 50%;
    }

    &--right {
      left: 50%;
    }
  }
}

@media screen and (max-width: 850px) {
  .choices {
    padding-top: 64px;
  }

  .choices p {
    margin: 0 32px;
  }

  .choices__content {
    background-image: none;
    padding: 36px 0;

    .choices__image-wrapper {
      display: none;
    }

    .choices__video-wrapper {
      display: initial;
    }

    .choices__video {
      display: initial;
      height: 400px;
    }
  }

  .choices__cloud {
    display: none;
  }
}
