.target-user {
  padding-top: 61px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 0, 105, 0.02);
  color: var(--black);

  > h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;  
    margin: 0;
  }
  > p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
  }
  > video {
    min-width: 310px;
    width: 80vw;
    max-width: 825px;
  }
}
.target-user__gif--dark {
  display: none;
}

@media (min-width: 768px) {
  .target-user {
    gap: 22px;

    > h2 {
      font-size: 40px;
      line-height: 48px; /* 120% */
    }
    > p {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
    }
  }
}

[theme='dark'] {
  .target-user {
    color: var(--white);
    background-color: #1B2435;
  }
  .target-user__gif--light {
    display: none;
  }
  .target-user__gif--dark {
    display: block;
  }
}
