---
import './TargetUser.scss';
import getTranslatedContent from "../../utils/directus";

const {lang} = Astro.params;
const content = await getTranslatedContent("TargetUser_Section", lang!);
---

<section class='target-user'>
    <h2>{content.header}</h2>
    <p>{content.text}</p>
    <video 
         autoplay 
         loop 
         muted 
         playsinline
         class='target-user__gif target-user__gif--light'
     >
        <source src='/assets/images/target-user_light.webm' type='video/webm' />
    </video>
    <video 
         autoplay 
         loop 
         muted 
         playsinline
         class='target-user__gif target-user__gif--dark'
    >
        <source src='/assets/images/target-user_dark.webm' type='video/webm' />
    </video>
</section>
