---
import './TargetUser.scss';
---

<section class='target-user'>
    <h2>Wir sind alle wichtig!</h2>
    <p>Jede:r kann Scrumlr nutzen und dadurch die Teamarbeit stärken.</p>
    <video src='/assets/images/target-user_light.webm' autoplay loop muted></video>
</section>
