.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 200ms;
  background-color: transparent;
}

.navbar--opaque {
  background-color: #fff;
}

.navbar > ul {
  display: grid;
  grid-template-columns: auto 1fr;
  list-style: none;
  align-items: center;
  gap: 32px;
  padding: 0 64px;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

.navbar > ul > li:nth-of-type(1) {
  justify-self: flex-start;
}
.navbar > ul > li:nth-of-type(2),
.navbar > ul > li:nth-of-type(3),
.navbar > ul > li:nth-of-type(4) {
  display: none;
}
.navbar > ul > li:nth-of-type(5) {
  justify-self: flex-end;
}

.navbar a {
  text-decoration: none;
  color: var(--black, #111);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar > ul {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
  }

  .navbar > ul > li:nth-of-type(2),
  .navbar > ul > li:nth-of-type(3),
  .navbar > ul > li:nth-of-type(4) {
    display: block;
  }
}

.navbar > ul > li {
  &:nth-child(2) {
    justify-self: flex-end;
  }
}
