.uniqueness__wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.uniqueness__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;

  &:first-of-type {
    margin-top: 100px;
  }

  .uniqueness__section-dots {
    position: absolute;

    &--0 {
      right: -32px;
    }

    &--1 {
      left: -16px;
    }

    &--2 {
      right: -50px;
    }

    &--3 {
      left: -48px;
    }
  }

  > div {
    position: relative;
    height: 750px;
    width: 50%;
    max-width: 780px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h3,
    p {
      width: fit-content;
      max-width: 360px;
      text-wrap: balance;
      margin-left: 64px;
    }

    > img {
      position: absolute;
      right: 1vw;
    }
  }

  .uniqueness__image > img {
    height: 100%;
  }

  &--right {
    > div {
      align-items: end;
      > h3,
      p {
        margin-left: 0;
      }

      > img {
        right: 0;
        left: 1vw;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .uniqueness__wrapper {
    padding: 32px;
    box-sizing: border-box;
  }

  .uniqueness__section {
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 64px;
    gap: 32px;

    &:first-of-type {
      margin-top: 32px;
    }

    &--right {
      flex-direction: column-reverse;
    }

    .uniqueness__text {
      width: 100%;
      height: fit-content;
      text-align: center;
      align-items: center;

      > h3,
      p {
        margin: 16px 8px;
      }
    }

    .uniqueness__image {
      height: min(50vh, 125vw);
      width: 100%;

      > img {
        height: 100%;
        right: 0;
        left: -390px;
      }

      $uniqueness-image-count: 4; // Number of images

      @for $i from 0 to $uniqueness-image-count {
        .uniqueness__image-#{$i} {
          content: url("/assets/uniqueness/uniqueness_light_#{$i}_mobile.webp");
        }
      }
    }

    &--right > .uniqueness__image > img {
      left: initial;
      right: -490px;
    }

    .uniqueness__section-dots {
      &--0,
      &--1,
      &--2,
      &--3 {
        transform: scale(0.5);
        z-index: 1;
      }

      &--0 {
        right: initial;
        left: -72px;
        top: -112px;
      }

      &--1 {
        left: initial;
        right: -72px;
        top: -120px;
      }

      &--2 {
        right: initial;
        left: -58px;
        top: -72px;
      }

      &--3 {
        left: initial;
        right: -112px;
        top: -156px;
      }
    }
  }
}
