#features_dark_0 {
  display: none;

  #Hintergrund_2-2 {
    transition: stroke 0.1s ease-in-out;
  }

  &:hover {
    #Hintergrund_2-2 {
      stroke: #ff80b4;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #features_dark_0 {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  #features_dark_0 {
    transform: scale(0.8);
  }
}
