#features_dark_1 {
  display: none;

  #card-2-bg {
    transition: stroke 0.1s ease-in-out;
  }

  &:hover {
    #card-2-bg {
      stroke: #45ffa9;
    }
  }
}

[theme="dark"] {
  #features_dark_1 {
    display: block;
  }
}
