#feedback-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  overflow-x: clip;
}

.feedback-carousel_group {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.feedback-carousel_controls {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.feedback-carousel_dot {
  all: unset;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--lightmode-pink);
  cursor: pointer;
  opacity: 0.5;
  margin: 0 8px;

  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.4);
  }

  &:focus-visible {
    outline: 2px solid var(--darkmode-pink);
  }

  &.active {
    transform: scale(1.2);
    opacity: 1;
  }

  &.small {
    width: 4px;
    height: 4px;
  }

  &.hidden {
    width: 0px;
    height: 0px;
    margin: 0;
  }
}

.use-spring-carousel-item {
  justify-content: center;
}

.feedback_card {
  width: 333px;
  height: 333px;
  background-color: var(--white);
  border-radius: 16px;
  margin: 0 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 70px;
    height: 3px;
    background-color: var(--lightmode-pink);
    border-radius: 2px;
    filter: drop-shadow(0px -3px 5px rgba(255, 0, 105, 0.3));
  }

  .feedback_card-text {
    margin: 0;
    font-size: 16px;
  }

  .feedback_card-author {
    display: flex;
    flex-direction: row;
    gap: 16px;

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }

    .feedback_card-author-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .feedback_card-author-name {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .feedback_card {
    width: 286px;
    height: 286px;
    margin: 0;

    .feedback_card-text {
      font-size: 14px;
      line-height: 22px;
      overflow: scroll;
    }

    .feedback_card-author-info {
      font-size: 14px;
    }
  }
}
