---
import { ViewTransitions } from "astro:transitions";
import Layout from "./Layout.astro";

const navItems = [
  {
    href: "/Legal/Privacy",
    name: "Privacy Policy",
  },
  {
    href: "/Legal/Cookies",
    name: "Cookie Policy",
  },
  {
    href: "/Legal/Terms",
    name: "Terms & Conditions",
  },
];
---

<Layout title="Scrumlr | Legal Documents">
  <div class="legal">
    <aside>
      <nav>
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class={Astro.url.pathname === item.href ? "active" : ""}
            >
              {item.name}
            </a>
          ))
        }
      </nav>
      <address>
        <p>scrumlr.io is provided by:</p>
        <p>
          inovex GmbH<br />
           Karlsruher Straße 71<br />
           75179 Pforzheim<br />
           Germany<br />
        </p>
        <p>
          Owner contact email:<br />
          <a href="mailto:info@scrumlr.io">info@scrumlr.io</a>
        </p>
      </address>
      <p>
        Latest update:<br />
        <strong><time>November 2021</time></strong>
      </p>
    </aside>
    <section>
      <slot />
    </section>
    <div class="legal_bg"></div>
  </div>
</Layout>
<ViewTransitions />

<style lang="scss">
  .legal {
    display: flex;
    flex-direction: row;
    padding: 128px 8vw;
    position: relative;
    background: linear-gradient(90deg, #fff 0%, rgba(107, 156, 255, 0.03) 100%);
    gap: 8vw;
    justify-content: center;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 64px;
    color: #333948;
    flex-shrink: 0;
    position: sticky;
    top: 192px;
    align-self: start;

    nav {
      display: flex;
      flex-direction: column;
      gap: 32px;

      a {
        text-decoration: none;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        transition: all 0.1s ease-in-out;

        &:visited {
          color: #333948;
        }

        &.active {
          color: var(--lightmode-blue);
        }

        &:hover {
          color: var(--lightmode-pink);
        }
      }
    }

    address {
      font-style: normal;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;

      a {
        text-decoration: none;
        color: var(--lightmode-pink);

        &:hover {
          text-decoration: underline;
          filter: brightness(1.2);
        }
      }
    }
  }

  section {
    max-width: 1440px;
    text-wrap: balance;
  }

  .legal_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      307deg,
      rgba(0, 87, 255, 0.37) 1.31%,
      #d1e0ff 40.42%,
      #fff2f7 71.15%,
      #ffe0ed 106.18%
    );
    z-index: -1;
    opacity: 0.2;
  }

  @media screen and (max-width: 948px) {
    .legal {
      flex-direction: column-reverse;

      aside {
        position: unset;
        top: 32px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;

        > nav {
          gap: 16px;
          position: absolute;
          top: 128px;
        }

        > address {
          margin-top: 32px;
        }

        > address > p:first-child,
        > p {
          margin-top: 0;
        }

        > address > p:first-child {
          font-weight: 700;
          font-size: 20px;
        }

        * {
          font-size: 16px;
          line-height: 24px;
        }
      }

      section {
        margin-top: 96px;
      }
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    .legal {
      background: #242c3d;
    }

    aside {
      color: #d4d9dd;

      nav a {
        &:visited {
          color: #d4d9dd;
        }

        &.active {
          color: var(--darkmode-blue);
        }

        &:hover {
          color: var(--darkmode-pink);
        }
      }

      p a {
        color: var(--darkmode-pink);
      }
    }

    .legal_bg {
      display: none;
    }
  }
</style>
