name: CI

on: [push, workflow_dispatch]

env:
  NODE_VERSION: 24

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install

      - name: Code Linting
        run: npm run lint

  build:
    name: Build
    if: github.ref == 'refs/heads/main' && success()
    needs: linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: scrumlr.io - Landing Page - Build
        id: meta-landing-page
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/inovex/scrumlr.io-landing-page/image
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
            type=sha,prefix=sha-,format=short
          labels: |
            org.opencontainers.image.authors=info@scrumlr.io
            org.opencontainers.image.url=https://github.com/inovex/scrumlr.io/pkgs/container/scrumlr.io-landing-page%2Fimage
            org.opencontainers.image.source=https://github.com/inovex/scrumlr.io-landing-page
            org.opencontainers.image.vendor=inovex
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.title=scrumlr.io - Landing Page
            org.opencontainers.image.description=The landing page of scrumlr.io
            
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Push landing page image
        id: push-landing-page
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta-landing-page.outputs.tags }}
          labels: ${{ steps.meta-landing-page.outputs.labels }}
          build-args: |
            DIRECTUS_URL=${{ secrets.DIRECTUS_URL }}
            DIRECTUS_TOKEN=${{ secrets.DIRECTUS_TOKEN }}